.mui-slider-indicator .mui-active.mui-indicator{background: #a4cf52;}

.room-list{float: left;width: 100%;background: rgba(255,255,255,0.5);}
.room-list .room{float: left;width: 100%;height: 70px;border-bottom: 1px solid #f0eee9;position: relative;cursor: pointer;}
.room-list .room img{position: absolute;height: 60px;top: 5px;left: 5px;width: 90px;}
.room-list .room h1{position: absolute;width: 100%;font-size: 16px;color: #333;text-align: left;line-height: 20px;top: 8px;font-weight: 400;
white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;padding-right: 40px; padding-left: 100px;}
.room-list .room h2{position: absolute;width: 100%;font-size: 14px;color: #999;text-align: left;line-height: 20px;top: 35px;font-weight: 400;
white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;padding-right: 40px; padding-left: 100px;}
.room-list .room span{position: absolute;right: 0;width: 40px;text-align: center;line-height: 70px;font-size: 30px;}
