.mui-bar-nav~.mui-content{margin-top: 0;}
.mui-bar-nav{background: none;}
.mui-bar-nav i{position: absolute;line-height: 54px;right: 10px;color: #333;}
.mineHead{float: left;width: 100%;height: 274px;background: rgba(0,0,0,0.1);position: relative;}
.mineHead img{width: 140px;height: 140px;border-radius: 50%;position: absolute;margin-left: 50%;left: -70px;
top: 64px;}
.mineHead h1{width: 100%;position: absolute;top: 214px;line-height: 20px;font-size: 20px;#333;text-align: center;font-weight: 400;}

.mineTitle{float: left;width: 100%;height: 50px;background: rgba(255,255,255,0.5);}
.mineTitle p{width: 24%;float: left;text-align: center;line-height: 30px;font-size: 16px;margin-top: 10px;
color: #a1a19e;border-left: 1px #ccc solid;}
.mineTitle p:first-child{border: none;}
.mineTitle .selected{color: #a07d3f;}

.mineInfo{float: left;width: 100%;background: rgba(255,255,255,0.5);margin-top: 10px;padding: 0 10px;}
.mineInfo .infoList{display: none;}
.mineInfo .selected{display: block;}
.mineInfo .infoList .list{width: 100%;height: 50px;line-height: 50px;float: left;border-bottom: 1px #ccc solid;}
.mineInfo .infoList .list p{width: auto;display: block;float: left;color: #666666;font-size: 16px;padding-left: 10px;}
.mineInfo .infoList .list span{width: auto;display: block;float: right;color: #666666;font-size: 16px;padding-right: 10px;}
