.mui-content{width: 100%;float: left;overflow: hidden;}
.mui-content .banner{width: 100%;height:200px;float: left;overflow: hidden;}
.mui-content img{width: 100%;}
.ceshi{width: 90%;float: left;margin-left: 5%;}
.ceshi .list{float: left;width: 100%;background: #fff;margin-top: 10px;}
.ceshi .list h1{font-size: 16px;color: #ff2e00;width: 100%;text-align: left;padding-left: 10px;line-height: 50px;
background: #ccc;border-left: 4px #ff2e00 solid;font-weight: 400;}
.ceshi .list label{color: #666;}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{color: #ff2e00;}
.bottomBtn{float: left;bottom: 10px;width: 80%;border-radius: 30px;background: #6fcadf;height: 40px;
margin-left: 10%;color: #fff;margin-top: 20px;margin-bottom: 20px;}
.bottomBtn h1{text-align: center;font-size: 20px;line-height: 40px;padding: 0;margin: 0;font-weight: 400;display: block;}
.bottomBtn1{float: left;bottom: 10px;width: 80%;border-radius: 30px;background: #6fcadf;height: 40px;
margin-left: 10%;color: #fff;margin-top: 20px;margin-bottom: 20px;}
.bottomBtn1 h1{text-align: center;font-size: 20px;line-height: 40px;padding: 0;margin: 0;font-weight: 400;display: block;}
.result{width: 90%;background: #fff;height: 200px;float: left;margin-left: 5%;margin-top: 10px;display: none;}
.result p{width: 100%;text-align: center;line-height: 50px;font-size: 24px;color: #666;margin-top: 30px;}
.result span{width: 100%;text-align: center;color: red;display: block;}
