#slider{margin-top: 0;padding-top: 0;float: left;height: 200px;overflow: hidden;}
.mui-slider-indicator{width: 100px;left: 50%;margin-left: -50px;}
.mui-slider-indicator .mui-active.mui-indicator{background: #a4cf52;}

.menu{width: 100%;height: 160px;float: left;background: rgba(255,255,255,0.5);}
.menu div{width: 50%;float: left;height: 80px;line-height: 80px;border-bottom: 1px #f0eee9 solid;
border-right: 1px #f0eee9 solid;cursor: pointer;}
.menu div img{float: right;height: 40px;width: auto;margin-top: 20px;padding-left: 20px;width: auto;}
.menu div p{font-size: 20px;color: #000;float: right;width: 60%;text-align: center;}

.nav{float: left;width: 100%;background: rgba(255,255,255,0.5);height: 170px;margin-top: 10px;}
.nav div{float: left;width: 50%;position: relative;cursor: pointer;}
.nav div img{width: 70px;position: absolute;left: 50%;margin-left: -35px;top: 20px;}
.nav div p{float: left;width: 100%;text-align: center;font-size: 18px;color: #000;margin-top: 100px;margin-bottom: 0;}
.nav div span{float: left;width: 100%;text-align: center;font-size: 14px;color: #9a978e;}
/*#slider{height: 200px;}*/
